* {
    overflow-y: hidden;
    overflow-x: hidden;
}
html, body{
    background-color: #1E1E1E;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

h1,h2,h3,h4,h5,p{
    color: #EAEAEA;
    /*Family Roboto or Atma ?*/
}

.test{
    border: red dotted 2px;
}

#welcome_div{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#random_citation{
    position: absolute;
    top: 180px;
    left: 65%;
    font-size: 2em;
    transform:rotate(15deg);
}

#name_div{
    margin-top: 10%;
    margin-left: 15%;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#profile_picture{
    width: 300px;
    height: 300px;
}
#profile_picture img{
    border-radius: 50%;
}

#name_div_right_container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#welcome_text_div{
    height: 100%;
    width: fit-content;
}
#welcome_text_div h1{
    margin-top: 100px;
}

#social_networks{
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.network{
    height: 50px;
    width: 50px;
    margin-left: 15px;
}
.network img{
    border-radius: 50%;
}

.intersection_div{
    width: 100vw;
    height: 150px;
    background-color: #D9D9D9;
}
.intersection_content{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}
.intersection_content h2{
    color: #1E1E1E !important;
}
.intersection_button_div{
    margin-left: 30px;
    background-color: #A58181;
    height: 2.5em;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.intersection_button_div p{
    margin: 0;
    margin-top: 0.75em; /* Half of parent height - Half of font size : 1.25 - 0.75*/
    transform: translateY(-50%);
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

#presentation_div{
    width: 80vw;
    margin: auto;
    margin-top: 40px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 25px;
    border-bottom: 2px solid #EAEAEA;
}
#presentation_text{
    width: calc( 55% - 30px );
    margin-left: 30px;
}
#presentation_text h1{
    width: fit-content;
    margin:auto;
    margin-top: 5px;
}
#presentation_text article p{
    width: fit-content;
    margin:auto;
    margin-top: 20px;
}
#presentation_img{
    width: fit-content;
    width: 40%;
    min-width: 500px;
}
#presentation_img{
    margin-left: auto;
    margin-top: 20px;
}

.feature_div{
    border: 4px dotted red;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6%;
}
.feature_img_div{
    width: 40%;
    flex: 1;
    min-width: 300px;
}
.feature_img_div img{
    height: 100%;
    width: 100%;
}
.feature_text_div{
    width: 40%;
    flex: 1;
    min-width: 300px;
}
.feature_text_div h2{
    margin-bottom: 5px;
}
.feature_text_div article p{
    margin-top: 20px;
}
.feature_button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: aqua;
    border: none;
    border-radius: 6px;
    font-size: 1.3em;
}